@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700,400|Bitter);

body {
	background-color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

p {
	font-family: 'Droid Sans', sans-serif;

}

h1 {
	color: rgba(245,145,30,1);
	font-family: 'Bitter', serif;
}

h2 {
	color: rgba(245,145,30,1);
	font-family: 'Bitter', serif;
}

ul {
	list-style-type: none;
	color: rgba(245,145,30,1);
}


#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility:hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.afterbox {
	clear:both;
}
